@charset "utf-8";
@use "../../node_modules/bulma/sass/utilities/derived-variables";

$purple: #b117e8;
$orange: #ed7207;
$secondary: $purple;
$tertiary: $orange;
$custom-colors: (
  "tertiary": (
    $tertiary,
  ),
  "secondary": (
    $secondary,
  ),
);

@use "../../node_modules/bulma/bulma";
